html, body, #corps {
	height: 100%;
}

body {
	font-family: "Times New Roman";
	background-color: #f7f7f7;
	min-width: 240px;
	margin: 0;
	word-wrap: break-word;
}

#corps {
	max-width: 800px;
	min-height: 300px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#menu {
	margin: auto;
	background: #4CAF50;
	color: white;
	text-transform: uppercase;
	text-align: center;
}
#menu a {
	color : inherit;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu li {
	display: inline-block;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: 7px;
	margin-bottom: 7px;
}

a {
	text-decoration: none;
	color: #2196F3;
}

form {
	max-width: 500px;
	margin: auto;
}
label {
	display: block;
	margin-bottom: 5px;
}
input, textarea {
	background: white;
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.5px solid grey;
	-webkit-appearance: none;
	border-radius: 0px;
}
input[type=submit] {
	text-transform: uppercase;
	border: 0;
	background: #2196F3;
	color: white;
	font-weight: bold;
	height: 30px;
}

h1, h2, h3 {
	color: #2196F3;
	text-align: center;
}

.erreur {
	color: red;
}
.succes {
	color: #4CAF50;
}
.erreur, .succes {
	text-align: center;
	font-weight: bold;
}

.diffusion {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: white;
	border: 0.5px solid grey;
	box-shadow: 0px 4px 8px 0px #999595;
}

.diffusion .titreDiffusion {
	border-bottom: 0.5px solid grey;
	font-weight: bold;
	display: block;
	padding: 7px;
}
.diffusion .infoDiffusion {
	display: block;
	padding: 15px 7px 7px 7px;
}

.message {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: white;
	border: 0.5px solid grey;
	box-shadow: 0px 4px 8px 0px #999595;
}
.message .infoMessage {
	background: #EEEEEE;
	border-bottom: 0.5px solid grey;
	display: block;
	padding: 7px;
}
.message .infoMessage .dateMessage {
	display: block;
	text-align: right;
}
.message .contenuMessage {
	display: block;
	padding: 7px;
	min-height: 30px;
}
.centre {
	text-align: center;
}

img, iframe {
	max-width: 100%;
}

.envoye {
	background: #2196F3;
	color: white;
	margin-left: 20%;
}
.recu {
	background: #BDBDBD;
	margin-right: 20%;
}
.envoye, .recu {
	border-radius: 5px;
	padding: 5px;
}
.msgInfo {
	display: block;
	text-align: right;
	margin-top: 5px;
	font-size: small;
}

select.destinataire {
	width: 100%;
}

table {
	border: 0.5px solid grey;
    width: 100%;
}
th {
    min-width: 30px;
}
td, th {
	background: white;
    border: 0.5px solid grey;
    padding: 5px;
}
td{
    word-break: break-all;
}
